{% extends "registration/accounts_base.html" %}
{% load crispy_forms_tags %}
{% load icons %}

{% block body %}
  <div class="d-flex flex-row-reverse justify-content-center bd-highlight">
    <div class="p-2 bd-highlight">
        <div class="card text-center border-primary mt-5" style="width: 25rem;" >
            <div class="card-header">
                <h3 class="mb-0">
                    {% icon 'tasks' extra_classes='fa-flip-horizontal' %} TODO 
                </h3>
              </div>
            <div class="card-body">
              <h5 class="card-title">
                <p>
                    Reset your password
                </p>
              </h5>                
                <form class="bootstrap4 text-left" method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn w-100 btn-primary">Reset password</button>
                  <input type="hidden" name="next" value="{{ next }}">
                </form>
            </div>
            <!-- <div class="card-footer text-muted">
                Need an account? 
                <a href="#">Sign up</a>
              </div> -->
          </div>
    </div>
  </div>

{% endblock %}