{% extends "registration/accounts_base.html" %}
{% load icons %}

{% block title %} Password reset sent{% endblock title %}

{% block body %}
  <div class="d-flex flex-row-reverse justify-content-center bd-highlight">
    <div class="p-2 bd-highlight">
        <div class="card text-center border-primary mt-5"  >
            <div class="card-header">
                <h3 class="mb-0">
                    {% icon 'tasks' extra_classes='fa-flip-horizontal' %} TODO 
                </h3>
              </div>
            <div class="card-body">
              <h5 class="card-title">
                <p>
                    Password reset sent
                </p>
              </h5>                
              <div class="alert alert-info" role="alert">
                <p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
                <p>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
            </div>
            </div>
          </div>
    </div>
  </div>

{% endblock %}