{% extends "registration/accounts_base.html" %}
{% load crispy_forms_tags %}
{% load icons %}

{% block title %} Password reset {% endblock title %}

{% block body %}
  <div class="d-flex flex-row-reverse justify-content-center bd-highlight">
    <div class="p-2 bd-highlight">
        <div class="card text-center border-primary mt-5" style="width: 22rem;" >
            <div class="card-header">
                <h3 class="mb-0">
                    {% icon 'tasks' extra_classes='fa-flip-horizontal' %} TODO 
                </h3>
              </div>
            <div class="card-body">
              <h5 class="card-title">
                {% if next %}
                    {% if user.is_authenticated %}
                    <div class="alert alert-warning" role="alert">
                        Your account doesn't have access to this page. To proceed,
                        please login with an account that has access.
                    </div>    

                    {% else %}
                    <div class="alert alert-warning" role="alert">
                        Please login to see this page.
                    </div>
                    {% endif %}
                {% endif %}
                Password reset
              </h5>  
                <div class="alert alert-info" role="alert">
                  Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.
                </div>
                <form method="POST" class="text-left">
                  {% csrf_token %}
                  {{ form|crispy }}           
                    <button type="submit" class="btn btn-primary w-100">Reset my password</button>
                </form>
            </div>
          </div>
    </div>
  </div>

{% endblock %}