{% extends 'base.html' %}
{% load icons %}

{% block body %}
      <div class="d-flex justify-content-start">
          <div class="card mb-3" style="">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="{{ user.profile.picture.url }}" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">{{ user.get_full_name|title }} 
                        <a class="btn btn-primary btn-sm rounded-circle" role="button" href="#">{% icon 'pencil' %}</a>
                      </h5>
                    <div class="d-flex justify-content-between bd-highlight">
                      <div class="p-2 bd-highlight">
                          {{ user.profile.mobile }}
                      </div>
                      <div class="p-2 bd-highlight">
                          {{ user.profile.city|capfirst }}
                      </div>
                      <div class="p-2 bd-highlight">
                          {{ user.profile.dob }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
      </div>    
{% endblock body %}
