{% extends 'base.html' %}
{% load icons %}

{% block body %}
        {% for each in list %}
            <div class="card pull-left mb-2 mr-2" style="width: 20rem;">
                <div class="card-header">
                    {% if each.is_pinned %}
                        {% icon 'thumb-tack' title='Pinned' extra_classes='pr-2' %} {{ object.title|title }}
                    {% endif %}
                    <a href="{{ each.get_absolute_url }}">{{ each.title|capfirst }}</a>
                </div>
                <div class="card-body p-0">
                    <ul class="list-group list-group-flush">
                    {% for item in each.list.all|slice:":2" %}
                        <li class="list-group-item">
                            {{ item.title|capfirst }}
                            <span class="badge text-light
                            {% if item.action == 'pending' %} bg-secondary
                            {% elif item.action == 'on-going' %} bg-warning
                            {% elif item.action == 'completed' %} bg-success
                            {% endif %}
                            ">{{ item.action|title }}</span>
                        </li>
                    {% empty %}
                    <li class="list-group-item">
                        <small id="emailHelp" class="form-text text-muted">- Empty list</small>
                    </li>
                </li>                    
                    {% endfor %}
                    {% if each.list.count > 2 %}
                    <li class="list-group-item">
                        <a href="{{ each.get_absolute_url }}">More ...</a>
                    </li>
                    {% endif %}
                </ul>
                </div>
            </div>
            <!-- <hr> -->
        <!-- </div> -->
        {% endfor %}
    <!-- </div> -->
    <div class="row">
        
    </div>
{% endblock body %}
