{% extends 'base.html' %}
{% load icons %}

{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">{{ object.title|title }}</li>
{% endblock breadcrumb %}

{% block title %}
    {{ object.title|title }} Share
{% endblock title %}

{% block body %}
    <div class="card">
        <!-- <div class="card-header"> -->
            <!-- <div class="d-flex justify-content-between align-items-center">
                <div>
                    {% if object.is_pinned %}
                        {% icon 'thumb-tack' extra_classes='pr-2' %} 
                    {% endif %}
                    {{ object.title|capfirst }}
                </div>
                <div class="btn-group btn-group-sm" role="group" aria-label="Basic mixed styles example">
                    <a class="btn btn-outline-info ml-1" href="{{ object.get_list_delete_url }}">Share</a>
                    <a class="btn btn-light ml-1 btn-outline-primary rounded-0" href="{% url 'core:task-create' object.slug %}">{% icon 'plus' title='Add task' %} Add a task</a>
                    <a class="btn btn-primary rounded-circle ml-1" href="{{ object.get_list_update_url }}">{% icon 'edit (alias)' title='Edit' %}</a>
                    <a class="btn btn-danger rounded-circle ml-1" href="{{ object.get_list_delete_url }}">{% icon 'trash' title='Delete' %}</a>
                </div>       
            </div> -->
        <!-- </div> -->
        <!-- <div class="card-body p-0">
            {% if object.list.count %}
            <table class="table mb-0 table-borderless table-hover">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Status</th>
                    <th scope="col">Created</th>
                    <th scope="col">Updated</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                    {% for item in tasks %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ item.title|capfirst }}</td>
                        <td>
                            <span class="text-light badge 
                            {% if item.action == 'pending' %} bg-secondary
                            {% elif item.action == 'on-going' %} bg-warning
                            {% elif item.action == 'completed' %} bg-success
                            {% endif %}
                            ">{{ item.action|title }}</span>
                        </td>
                        <td>{{ item.date_created|timesince }} ago</td>
                        <td>{{ item.date_updated|timesince }} ago</td>
                        <td>
                            <div class="btn-group btn-group-sm" role="group" aria-label="Basic mixed styles example">
                                <a class="btn btn-outline-dark" href="{{ item.get_task_update_url }}">{% icon 'edit (alias)' title='Edit' %}</a>
                                <a class="btn btn-outline-dark" href="{{ item.get_task_delete_url }}">{% icon 'remove' title='Delete' %}</a>
                            </div>   
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
                <div>
                    <small id="emailHelp" class="form-text text-muted">- Empty list</small>
                </div>
            {% endif %}
            <div class="mt-2">
            <nav aria-label="Page navigation example">
                <ul class="pagination pagination-sm justify-content-center">
                    {% if tasks.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1">&laquo;</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ tasks.previous_page_number }}" tabindex="-1" aria-disabled="true">Prev</a>
                        </li>
                    {% endif %}

                    <li class="page-item active"><a class="page-link" href="#">{{ tasks.number }}</a></li>
                    {% if tasks.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ tasks.next_page_number }}" tabindex="-1" aria-disabled="true">Next</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ tasks.paginator.num_pages }}">&raquo;</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div> -->
        <div class="card">
            <div class="card-header">
              Share {{ object.title|capfirst }}
            </div>
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="exampleFormControlSelect2">Select the users</label>
                        <select multiple name="users" class="form-control" id="exampleFormControlSelect2">
                          {% for user in users %}
                              <option value="{{ user.username }}">{{ user.get_full_name|title }}</option>
                          {% endfor %}
                        </select>
                      </div>
                      <input type="submit" class="w-100 btn btn-primary" value="Share"/>
                </form>
            </div>
          </div>
        
        </div>
    </div>
{% endblock body %}
