{% extends 'base.html' %}
{% load icons %}
{% load crispy_forms_tags %}

{% block title %} {{ object.title|capfirst }} update {% endblock title %}

{% block body %}
    <div class="d-flex justify-content-start">
        <div class="card" style="width: 25rem">
            <div class="card-header text-center">
                Update list
            </div>
            <div class="card-body">
                <form method="POST" action="{{ request.path }}">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input class="btn btn-primary w-100" type="submit" value="Save changes">
                </form> 
            </div>
        </div>
    </div>
{% endblock body %}