{% extends 'base.html' %}
{% load icons %}

{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">{{ object.title|title }}</li>
{% endblock breadcrumb %}

{% block title %}
    {{ object.title|title }}
{% endblock title %}

{% block body %}
    <div class="row mt-2">
        <div class="col-sm">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm">
                            {% if object.is_pinned %}
                                {% icon 'thumb-tack' extra_classes='pr-2' %} 
                            {% endif %}
                            {{ object.title|title }}
                        </div>
                        <div class="col-sm text-right">
                            <div class="btn-group btn-group-sm" role="group" aria-label="Basic mixed styles example">
                                <a class="btn btn-warning" href="{% url 'core:task-create' object.slug %}">{% icon 'plus' title='Add task' %}</a>
                                <a class="btn btn-info" href="{{ object.get_list_update_url }}">{% icon 'edit (alias)' title='Edit' %}</a>
                                <a class="btn btn-danger" href="{{ object.get_list_delete_url }}">{% icon 'trash' title='Delete' %}</a>
                            </div>        
                        </div>
                    </div>
                    
                </div>
                <div class="card-body py-0">
                    {% if object.list.count %}
                    <table class="table table-borderless table-hover">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Title</th>
                            <th scope="col">Status</th>
                            <th scope="col">Created on</th>
                            <th scope="col">Updated on</th>
                            <th scope="col">Actions</th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for item in object.list.all %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ item.title|title }}</td>
                                <td>
                                    <span class="badge 
                                    {% if item.action == 'pending' %} bg-secondary
                                    {% elif item.action == 'on-going' %} bg-warning
                                    {% elif item.action == 'completed' %} bg-success
                                    {% endif %}
                                    ">{{ item.action|title }}</span>
                                </td>
                                <td>{{ item.date_created }}</td>
                                <td>{{ item.date_updated }}</td>
                                <td>
                                    <div class="btn-group btn-group-sm" role="group" aria-label="Basic mixed styles example">
                                        <a class="btn btn-info" href="{{ item.get_task_update_url }}">{% icon 'edit (alias)' title='Edit' %}</a>
                                        <a class="btn btn-danger" href="{{ item.get_task_delete_url }}">{% icon 'remove' title='Delete' %}</a>
                                    </div>   
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                        <small id="emailHelp" class="form-text text-muted">- Empty list</small>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock body %}























